.logo-wrapper{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
}
.logo-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.logo h4{
    font-size: 1.5rem;
}
@media screen and (max-width: 50em) {
    .logo-wrapper{
        width: 10rem;
        height: 10rem;
    }
    .logo{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .logo h4{
        font-size: 2rem;
    }
    
}