.lead-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

.leadership{
   
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}


.leadership-section{
    max-width: 60rem;
    min-height: 70rem;
    
   
    color: var(--color-white);
    position: relative;
    background-color: aquamarine;
    color: var(--color-black);
    border-radius: 1rem;
    
}
.team-lead-image{
    max-width: 60rem;
    max-height: 30rem;
   border-radius: 1rem;
    overflow: hidden;
}
.team-lead-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc h2{
    position: absolute;
    top: 8%;
    right: 0%;
    transform: translateX(-50%);
    position: absolute;
    color: #FF5733;
    font-family: cursive;
    
}
.desc h2::after{
    content: "";    
    display: block;
    width: 150%; 
    height: .4rem;
    background-color: var(--color-white);
    position: absolute;
    right: -50%; 
    bottom: -2px;
}
.desc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   padding: 1rem;
   opacity: 1;
}
.desc h3{
    font-style: italic;
    color: #FF5733;
    font-weight: 700;
    font-family: cursive;
    font-size: 3rem;
}
.desc h4{
    font-style: italic;
    color: var(--color-white);
    font-weight: 700;
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
}

.social-icons{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
    color: #FF5733;
    font-size: 4rem;
}
.social-icons span:hover{
    color: #562cba;
}
.head {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.head h2{
    font-size: 2.5rem;
    font-family: cursive;
}
.head p{
    font-size: 1.5rem;
    font-family: cursive;
    color: #666;
}

@media screen and (max-width:37.5em) {
    .leadership{
        padding: 2rem;
    }
    
    .desc h2{
        font-size: 2rem;
    }
    .desc h2::after{
        width: 150%; 
        transform: translateX(-50%);
        right: -70%;
        }
}