.events-section{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        background-color:  var(--color-white);
        margin-top: 2rem;
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
        color: black;
        gap: 2rem;
    
}

.events-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
    -webkit-box-shadow: -11px 6px 5px -5px rgba(0,0,0,0.33);
    -moz-box-shadow: -11px 6px 5px -5px rgba(0,0,0,0.33);
    box-shadow: -11px 6px 5px -5px rgba(0,0,0,0.33);
    
}

.events-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
    justify-content: center;
    max-width: 50rem ;
    
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 1rem;
    padding: 1rem 2rem;
    
    
}
.title{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: left;
    justify-content: left;
    
    padding: 2rem 1rem;
}
.titleIcon{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: left;
    justify-content: left;
    
    font-size: 5rem;
}
.titleDesc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
    justify-content: left;    
}
.titleDesc h2{
    font-size: 2.5rem;
}
.titleDesc h5{
    font-size: 2rem;
    font-style: italic;
}
.time{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    
}
.time h4{
    font-size: 3rem;
    font-weight: 700;
}
.time h5{
    font-size: 2rem;
    font-style: italic;
    justify-content: center;
}

.announcement{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    -webkit-box-shadow: -11px 6px 5px -5px rgba(0,0,0,0.33);
        -moz-box-shadow: -11px 6px 5px -5px rgba(0,0,0,0.33);
        box-shadow: -11px 6px 5px -5px rgba(0,0,0,0.33);
}
.announcement h2{
    color: var(--color-primary);
    font-size: 3rem;
    text-align: center;
}
.announcement ul li{
    display: flex;
    flex-direction: column;
    list-style-type: decimal !important;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: var(--color-black);
}
.announcement li{
    font-size: 2rem;
    text-align: center;
    
}

@media screen and (max-width:56.25em) {
    .events-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .events-card{
       max-width: 40rem !important;
    }
    .titleDesc h2{
        font-size: 2rem;
    }
    .titleDesc h5{
        font-size: 1.5rem;
    }
    .time h4{
        font-size: 2rem;
    }
    .time h5{
        font-size: 1.5rem;
    }
}
 @media screen and (max-width:43.75em) {
    .events-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .events-card{
      max-width: 35rem !important;
    }
    .titleDesc h2{
        font-size: 1.5rem;
    }
    .titleDesc h5{
        font-size: 1.5rem;
    }
    .time h4{
        font-size: 2rem;
    }
    .time h5{
        font-size: 1.5rem;
    }
    
 }
 @media screen and (max-width:31.25em) {
    .events-card{
       max-width: 30rem !important;
    }
    
 }
